.homepage-container{
    min-height: 100vh;
    display:grid;
    background-color: rgb(245, 245, 245);
    grid-template-columns:100%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "content"
    ;
}

.homepage-container > div{
    grid-area: "content";
}

.content-container{
    width: 60%;
    margin: 2rem auto 6rem auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto;
    row-gap: 1.5rem;
    grid-template-areas: 
        "form form form"
        "tasks tasks tasks";
}

.newTask-form{
    grid-area: form;
}

.tasks-container{
    grid-area: tasks;
    display:flex;
    flex-direction: column;
    row-gap: 2rem;
}

.heading{
    color:rgba(143, 0, 119, 0.527)
}

.form-heading{
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

@media (max-width: 1024px){
    .homepage-container > div{
        margin-left: -1rem;
        margin-top: 2rem;
    }
    .content-container{
        width: 85%;
        justify-content: center;
    }

    .form-heading{
        width: 85%;
    }
}
