.nav{
    position: fixed;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow:-7px 0px 41px -19px rgba(0,0,0,0.48);
    width: 250px;
    z-index: 1;
    transition-property: margin;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}

.nav > *{
    width: 90%;
    margin: 1rem auto;
}

.nav > hr{
    position: absolute;
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid rgba(107, 107, 107, 0.678)
}

.logo{
    font-family: 'Rubik', sans-serif;
    color: var(--theme-color);
    font-size: 40px;
    text-decoration: none;
}

.nav-links{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    min-height: 60%;
}

.nav-links > *{
    margin-top: 15px;
    padding-left: 10px;
    color:rgb(134, 134, 134);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}


.create-project{
    cursor: pointer;
}

.sidebar-footer{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
}
.sidebar-footer > *{
    color:rgb(134, 134, 134);
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
}

.active-link{
    border-left: 2px solid var(--theme-color);
    font-weight: bold;
    color: black;
}

#deleteProjectIcon{
    position: absolute;
    left:90%;
    color:rgb(134, 134, 134) !important;
}

.deleteTask-button{
    cursor: pointer;
    max-width:150px;
    padding: 10px;
    background-color: rgba(228, 0, 0, 0.815);
    border:none;
    border-radius: 5px;
    color:white;
    font-weight: 600;
    margin: auto;
}

.menu-icon{
    position: fixed;
    left: 2%;
    top: 1%;
    color: white;
}

.mobile-nav{
    height: 50px;
    display:none;
    position: fixed;
    width: 100% !important;
    background-color: purple;
    z-index: 1;
}

.menu-icon.show{
    left:2%;
    transition-property: left;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}

@media (max-width: 1024px){
    .nav{
        margin-left: -250px;
    }
    .mobile-nav{
        display:block;
    }

    .menu-icon.show{
        left: 260px;
        position: fixed;
        z-index: 1;
    }

    .show{
        margin-left: 0;
    }

    
}
